body {
  overflow: hidden;
  user-select: none;
}
.fan_area {
  position: relative;
  width: 90vw;
  max-width: 350px;
  aspect-ratio: 1/1.69;
  margin: 0 auto;
}
.fan {
  width: 70%;
  position: absolute;
  top: 9.2%;
  left: 14.3%;
}
.frame {
  width: 90%;
  position: absolute;
  top: 4%;
  left: 4%;
  opacity: 0.7;
  z-index: 5;
}
.stand {
  height: 70%;
  width: 90%;
  position: absolute;
  top: 36%;
  left: 6%;
  opacity: 0.7;
  z-index: -1;
}
.logo-bg {
  position: absolute;
  width: 26%;
  height: 15.5%;
  background: #fff;
  border-radius: 50%;
  top: 22.1%;
  left: 37%;
  z-index: 2;
  background-image: url(img/fansn.png);
  background-size: cover;
  filter: blur(6px);
}
.onbtn {
  width: 10%;
  position: absolute;
  top: 84%;
  left: 65%;
  z-index: 10;
}
.offbtn {
  width: 10%;
  position: absolute;
  top: 84%;
  left: 65%;
  z-index: 1;
}
